<div class="main_nav pt-2" style="background-color: var( --primary-app-color);">
                     
                    
    <div class="d-flex w-100 px-4 justify-content-between align-items-center">
        <div class="toggler justify-content-center align-items-center me-3">
            <div></div>
            <div></div>
            <div></div>
        </div>
        
        <div class="nameOfComponent">
            <a href="" >Dashboard</a>
        </div>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >
              
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../assets/images/user.svg" style="max-width: 35px;" alt="">
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown"
                style="left: -70px">
                <li><a class="dropdown-item" routerLink="/dashboard">Dashboard</a></li>
                <li><a class="dropdown-item" routerLink="/customers">Customers</a></li>
                <li><a class="dropdown-item" >Rooms</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" (click)="logout()">Sign Out</a></li>
              </ul>
            </li>
            
          </ul>
    </div>
</div>
